body.dark-theme {
    background: #313335;
    color: #c7c7c7;
}
.dark-theme .dropdown-menu {
    color: #c7c7c7 !important;
    background-color: #2a2b2c !important;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.dark-theme .dropdown-menu a {
    color: #c7c7c7 !important;
    background-color: #2a2b2c !important;
}
.dark-theme .dropdown-item:hover {
    color: #c7c7c7 !important;
    background-color: #47494a !important;
}
.dropdown-divider {
    border-top: 1px solid #3e4041;
}
.dark-theme .form-control {
    color: #c7c7c7 !important;
    background-color: #2a2b2c !important;
    border: 1px solid #333436 !important;
}
.dark-theme ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px #2c2f31;
    background: #2c2f31;
}

.dark-theme ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #3c3e40;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
}

.dark-theme ::-webkit-scrollbar-thumb:hover {
    background: #3c3e40;
}
/*.btn {*/
    /*color: #2b2b2b;*/
/*}*/
.dark-theme .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #dadada;
    background-color: #47494a;
    border-color: #47494a #47494a #47494a;
}
.dark-theme .screen .topbar {
    background: #313335 !important;
}
.dark-theme .screen.notes .sidebar .note-link {
    background: #313335;
    color: #c7c7c7;
    border-bottom: 1px solid #292a2c;
    border-left: #313335 4px solid;
}
.dark-theme .screen.notes .sidebar .note-link:focus {
    background: #37393a;
}
.dark-theme .screen.notes .sidebar .note-link:hover {
    background: #37393a;
}
.dark-theme .screen.notes .sidebar .note-link.active {
    background: #47494a;
    border-left: #0787FF 4px solid;
    color: #dadada;
}

.dark-theme .screen.notifications .notifications .notification,
.dark-theme .screen.notes .notes .note {
    border: 1px #292a2c solid;
}

.dark-theme .screen.notifications .notifications .notification:hover,
.dark-theme .screen.notes .notes .note:hover {
    background: #37393a;
}

.dark-theme .screen.notes .notes .note {
    border-left: #313335 4px solid;
}
.dark-theme .screen.notifications .notifications .notification.unread {
    background: #313335;
}
.dark-theme .screen.notes .notes .note {
    border-top: 1px solid #313335;
    color: #c7c7c7;
}
.dark-theme .screen.notifications .notifications .notification h2,
.dark-theme .screen.notes .notes .note h2 {
    font-size: 11px;
    color: #969696;
}
.dark-theme .screen.notifications .notifications .notification.unread {
    background: #352e30;
    border-left: #dc3545 4px solid;
}
.dark-theme .screen.notes .notes .note.active {
    border-left: #0787FF 4px solid;
    border-top: 1px solid #47494a;
    background: #47494a;
    color: #dadada;
}
.dark-theme .left-status-bar {
    background: #47494a;
    color: #dadada;
}
.dark-theme .right-status-bar {
    background: #47494a;
    color: #dadada;
}
.dark-theme .notes-pagination .page-link{
    background: #47494a !important;
    border: 1px #535657 solid !important;
    color: #dadada;
}
.dark-theme .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff;
}

.dark-theme .modal-content {
    background: #47494a;
    color: #c7c7c7;
}

.dark-theme .modal-content .close {
    color: #c7c7c7;
}

.dark-theme .modal-header {
    border-bottom: 1px solid #3e4041 !important;
}

.dark-theme .modal-qr .modal-body {
    background: #fff;
}

.dark-theme .note-link .is-deleted {
    color: #c7c7c7;
    margin: 1px;
}
